workflows/WF-06 - Analytics Dashboard.json
{
  "name": "WF-06 - Analytics Dashboard",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "5a630917-6773-49c7-bf25-12080b00693e",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "3931a695-4233-8000-b629-e3571b1a51e7",
          "mode": "list",
          "cachedResultName": "Partner Training Operations",
          "cachedResultUrl": "https://app.notion.com/p/3931a69542338000b629e3571b1a51e7"
        },
        "returnAll": true,
        "simple": false,
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        208,
        0
      ],
      "id": "d33aa98a-db63-40b5-bbc9-47b27057de7a",
      "name": "01 - Get Training Records",
      "credentials": {
        "notionApi": {
          "id": "CC57mwMkOeMpMuES",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst stats = {\n    totalPartners: items.length,\n    active: 0,\n    completed: 0,\n    overdue: 0,\n    certificatesIssued: 0,\n    pendingCertificates: 0,\n    remindersSent: 0,\n    escalations: 0,\n    trainingPrograms: {}\n};\n\nfor (const item of items) {\n\n    const props = item.json.properties;\n\n    const status =\n        props[\"Training Status\"]?.status?.name ?? \"\";\n\n    const certificate =\n        props[\"Certificate Issued\"]?.checkbox ?? false;\n\n    const reminder =\n        props[\"Reminder Count\"]?.number ?? 0;\n\n    const escalation =\n        props[\"Needs Manager Escalation\"]?.checkbox ?? false;\n\n    const program =\n        props[\"Training Program\"]?.select?.name ??\n        \"Unknown\";\n\n    if(status===\"Completed\")\n        stats.completed++;\n\n    else if(status===\"Overdue\")\n        stats.overdue++;\n\n    else\n        stats.active++;\n\n    if(certificate)\n        stats.certificatesIssued++;\n    else\n        stats.pendingCertificates++;\n\n    stats.remindersSent += reminder;\n\n    if(escalation)\n        stats.escalations++;\n\n    stats.trainingPrograms[program] =\n        (stats.trainingPrograms[program] || 0) + 1;\n\n}\n\nstats.completionRate =\n(\nstats.completed /\nMath.max(stats.totalPartners,1)\n*100\n).toFixed(1);\n\nreturn {\n\njson: stats\n\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "747aedbf-ae38-4262-9969-ea465b4bf077",
      "name": "02 - Calculate Training KPIs"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const s = $json;\n\nconst health =\nNumber(s.completionRate) >= 90\n? \"🟢 Excellent\"\n: Number(s.completionRate) >= 70\n? \"🟡 Good\"\n: \"🔴 Needs Attention\";\n\nlet trainingRows = \"\";\n\nfor (const [program, count] of Object.entries(s.trainingPrograms)) {\n\n    trainingRows += `\n        <tr>\n            <td style=\"padding:8px;border:1px solid #ddd;\">${program}</td>\n            <td style=\"padding:8px;border:1px solid #ddd;text-align:center;\">${count}</td>\n        </tr>\n    `;\n\n}\n\nconst html = `\n<html>\n\n<body style=\"font-family:Arial;background:#f4f4f4;padding:30px;\">\n\n<div style=\"\nbackground:white;\npadding:30px;\nborder-radius:10px;\nmax-width:900px;\nmargin:auto;\n\">\n\n<h1 style=\"color:#1f4e79;\">\nPartner Training Dashboard\n</h1>\n\n<p>\nGenerated:\n<b>${new Date().toLocaleString()}</b>\n</p>\n\n<h2>Overall KPIs</h2>\n\n<table style=\"border-collapse:collapse;width:100%;\">\n\n<tr><td>Total Partners</td><td><b>${s.totalPartners}</b></td></tr>\n<tr><td>Active Trainings</td><td><b>${s.active}</b></td></tr>\n<tr><td>Completed Trainings</td><td><b>${s.completed}</b></td></tr>\n<tr><td>Overdue Trainings</td><td><b>${s.overdue}</b></td></tr>\n<tr><td>Completion Rate</td><td><b>${s.completionRate}%</b></td></tr>\n<tr><td>Certificates Issued</td><td><b>${s.certificatesIssued}</b></td></tr>\n<tr><td>Pending Certificates</td><td><b>${s.pendingCertificates}</b></td></tr>\n<tr><td>Total Reminders</td><td><b>${s.remindersSent}</b></td></tr>\n<tr><td>Total Escalations</td><td><b>${s.escalations}</b></td></tr>\n\n</table>\n\n<br>\n\n<h2>Training Programs</h2>\n\n<table style=\"\nwidth:100%;\nborder-collapse:collapse;\n\">\n\n<tr style=\"background:#1f4e79;color:white;\">\n<th style=\"padding:10px;\">Program</th>\n<th>Partners</th>\n</tr>\n\n${trainingRows}\n\n</table>\n\n<br>\n\n<h2>Overall Health</h2>\n\n<h1>\n\n${health}\n\n</h1>\n\n</div>\n\n</body>\n\n</html>\n`;\n\nreturn {\n\njson:{\n\nhtml\n\n}\n\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        0
      ],
      "id": "ef18d6ee-ae49-434a-a1b8-ef1dd43353d6",
      "name": "03 - Generate HTML Dashboard"
    },
    {
      "parameters": {
        "sendTo": "raltafur40@gmail.com",
        "subject": "Daily Partner Training Dashboard",
        "message": "={{ $json.html }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        832,
        0
      ],
      "id": "2d7de2cc-ad60-4fe9-bc85-0ad380116181",
      "name": "04 - Send Management Report",
      "webhookId": "4e8c9d67-fbe1-44ee-aee3-984a2879a1f8",
      "credentials": {
        "gmailOAuth2": {
          "id": "tQe7Zj6Z2kpPt3eT",
          "name": "Gmail OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "01 - Get Training Records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "01 - Get Training Records": {
      "main": [
        [
          {
            "node": "02 - Calculate Training KPIs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "02 - Calculate Training KPIs": {
      "main": [
        [
          {
            "node": "03 - Generate HTML Dashboard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "03 - Generate HTML Dashboard": {
      "main": [
        [
          {
            "node": "04 - Send Management Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "27c7aa79-4331-4e16-bdbe-87b65d084bda",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8c6e50b1521bc7708b93e205b9de9fc7411f0ed4bd5eef65a36d5740d98ea20c"
  },
  "nodeGroups": [],
  "id": "j70kMctxNrgzjqZM",
  "tags": []
}